.k-card{
    margin: 10px 0;
    padding: 4px;
    color: white;
    font-weight: bold;
}

.k-card.Brobnar {
    background: rgb(241, 83, 34);
}

.k-card.Dis {
    background: rgb(131, 120, 125);
}

.k-card.Logos {
    background: rgb(100, 200, 231);
}

.k-card.Sanctum {
    background: rgb(29, 112, 172);
}

.k-card.Untamed {
    background: rgb(25, 117, 74);
}

.k-card.Mars {
    background: rgb(121, 192, 67)
}


