<div *ngIf="deckData" class="container">
  <!--Name and Details-->
  <div class="row">
    <div class="col-sm-12">
      <h2 class="k-deck-name"><a (click)="nameClick()">{{deckData.Deck.name}}</a></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      Creature Count: {{deckData.CreatureCount}}
    </div>
    <div class="col-sm-4">
      Amber Count: {{deckData.AmberCount}}
    </div>
  </div>

  <!--Card Data-->
  <div *ngIf="showCards" class="row">
    <div class="col-sm-4" *ngFor="let card of deckData.Deck.cards.AllCards">
      <app-card [card]=card></app-card>
    </div>
  </div>
</div>
